html, body {
  background:#ffffff  !important;
  height: 100%;
  align-content: center;
}



.menuE Button, .menuProcesos Button{
  width: 10em;
  height: 3em;
  margin-bottom: 1em;
}
.menuE{
  min-height: 67vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.menuNums{
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.menuProcesos{
  padding-top: 30px;
  width: 100%;
  min-height: 40vh ;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-content: center;
}

.flexi{
  object-fit: cover;
  background-color: blue;
  padding:5em;
  width:67vh;
  max-width: 100%;
  overflow: hidden;
  height: 67vh;
  position: relative;
  display:block
}

.SegmentQR{
  min-height: 60vh;
  display: flex; 
  align-items: center;
}





